CompileFlags:
  Add:
    - "-std=gnu++17"
    - "-DPLATFORMIO=60118"
    - "-D__IMXRT1062__"
    - "-DARDUINO_TEENSY41"
    - "-DUSB_SERIAL"
    - "-DARDUINO=10805"
    - "-DTEENSYDUINO=159"
    - "-DCORE_TEENSY"
    - "-DF_CPU=600000000"
    - "-DLAYOUT_US_ENGLISH"
    - "-DMICRO_ROS_TRANSPORT_ARDUINO_SERIAL=1"
    - "-DMICRO_ROS_DISTRO_JAZZY=1"
Hover:
  ShowAKA: true
