# if [[ $VIRTUAL_ENV != $(pwd).venv ]]; then
#     export VIRTUAL_ENV=.venv
#     export PYTHONWARNINGS="ignore::DeprecationWarning"
#     layout python3
#     unset PYTHONWARNINGS
# fi
source setup.bash
