# if [[ $VIRTUAL_ENV = $(pwd).venv ]]; then
#     return
# fi
# export VIRTUAL_ENV=.venv
# export PYTHONWARNINGS="ignore::DeprecationWarning"
# layout python3
# unset PYTHONWARNINGS
source setup.bash
