# Ignore caches
**/__pycache__/
**/.ruff_cache/
**/.DS_Store

# Ignore logs
**/logs/
**/log/
**/bags/

# Ignore build artifacts
**/build/
**/install/
**/dist/
**/egg-info/
**/.pio/

# Ignore vscode files
**/.vscode/c_cpp_properties.json
**/.vscode/settings.json
**/tabletop_teensy/.vscode/

# Ignore meshes
**/tabletop_description/meshes/**/decomposed_*
