# Ignore caches
**/__pycache__/
**/.ruff_cache/
**/.DS_Store

# Ignore logs
**/logs/
**/log/
**/bags/
**/*.log
**/nohup.out

# Ignore build artifacts
**/build/
**/install/
**/dist/
**/egg-info/
**/.pio/

# Ignore cursor files
**/.cursorignore

# Ignore meshes
**/meshes/test/

# Ignore flic files
**/flic.db

# Ignore venv
**/venv/

# Ignore piano stuff
**/*.sf2
**/*.mid

# Ignore results
**/results/

# Ignore testing files
**/testing/

# Ignore copied eyelink files
/eyelink/docs/

# Ignore trajectory cache
/ros/trajectory_cache/

# Ignore planning scene files
/ros/planning_scene/
