# Ignore caches
**/__pycache__/
**/.ruff_cache/
**/.DS_Store

# Ignore logs
**/logs/
**/log/
**/bags/
**/*.log

# Ignore build artifacts
**/build/
**/install/
**/dist/
**/egg-info/
**/.pio/

# Ignore vscode files
**/.vscode/c_cpp_properties.json
**/.vscode/settings.json
**/tabletop_teensy/.vscode/

# Ignore cursor files
**/.cursorignore

# Ignore meshes
**/meshes/test/

# Ignore flic files
/flic_server/sqlite.db
/flic_client/simpleclient

# Ignore venv
**/venv/

# Ignore piano stuff
**/*.sf2
**/*.mid

# Ignore results
**/results/

# Ignore testing files
**/testing/

# Ignore copied eyelink files
/eyelink/docs/
