<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="trapezoid near robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.146103415661 1.737353390767 2.46723102497821"
        rpy="0 0 0" />
      <mass
        value="159.562258853452" />
      <inertia
        ixx="13.7183691071569"
        ixy="1.2073426021119E-06"
        ixz="-9.92985461373897E-08"
        iyy="4.41870941309713"
        iyz="1.11642640309121E-06"
        izz="11.8741371044447" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trapezoid near robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trapezoid near robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="trap_Link">
    <inertial>
      <origin
        xyz="0.214618964124713 0.541174545190544 0.160370854683332"
        rpy="0 0 0" />
      <mass
        value="159.562258358035" />
      <inertia
        ixx="66.309731911986"
        ixy="-0.131569637462481"
        ixz="-21.5471644791382"
        iyy="66.1259280847932"
        iyz="-0.175757935599695"
        izz="76.2561967348633" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trapezoid near robot/meshes/trap_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trapezoid near robot/meshes/trap_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="trapezoid"
    type="fixed">
    <origin
      xyz="0.931484452098667 -2.30686017270123 1.19617884566463"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="trap_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>