<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:include filename="$(find tabletop_description)/urdf/eef_macro.xacro" />

  <xacro:macro name="tabletop"
    params="
    name
    tf_prefix
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    safety_limits
    safety_pos_margin
    safety_k_position
    force_abs_paths
    ">

    <!-- <xacro:property name="robot_offset_xyz" value="1.2468 1.0832 0.2685" /> -->
    <!-- <xacro:property name="robot_offset_xyz" value="1.2482 1.0588 0.3342" /> -->
    <!-- <xacro:property name="robot_offset_xyz" value="1.247 1.1279 0.309" /> -->
    <!-- <xacro:property name="robot_offset_xyz" value="1.2504 1.0625 0.3085" /> -->
    <xacro:property name="robot_offset_xyz" value="1.2554 1.0625 0.3085" />
    <xacro:property name="robot_offset_rpy" value="0 0 -1.5707" />
    <xacro:property name="eef_offset_xyz" value="0 0 -0.005" />
    <xacro:property name="eef_offset_rpy" value="0 0 0" />

    <!-- world -->
    <link name="world" />

    <!-- robot -->
    <xacro:ur_robot
      name="${name}"
      tf_prefix="${tf_prefix}"
      parent="world"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      safety_limits="${safety_limits}"
      safety_pos_margin="${safety_pos_margin}"
      safety_k_position="${safety_k_position}"
      force_abs_paths="${force_abs_paths}"
    >
      <origin xyz="${robot_offset_xyz}" rpy="${robot_offset_rpy}" />
    </xacro:ur_robot>

    <!-- end effector -->
    <xacro:eef
      tf_prefix="${tf_prefix}"
      parent="${tf_prefix}wrist_3_link"
    >
      <origin xyz="${eef_offset_xyz}" rpy="${eef_offset_rpy}" />
    </xacro:eef>

  </xacro:macro>
</robot>
